---
layout: default
---

<div class="home">

    <div class="hidden-md hidden-lg hidden-print">
        <br>

        <div class=" row landing-page-links">
            <div class="col-sm-6">
                <a href="/landing-page-ebook" class="btn btn-landing-ebook">
                    <img src="/assets/pages/landing-page-ebook/image-share-social-network.jpg" height="301" width="321">
                </a>
            </div>

            <br class="hidden-sm">

            <div class="col-sm-6">
                <a href="/landing-page-planilha" class="btn btn-landing-planilha">
                    <img src="/assets/img/landing-planilha.png" height="301" width="321">
                </a>
            </div>
        </div>
    </div>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

            {% if post.custom_main_image %}

            <a class="post-link" href="{{ post.url | relative_url }}">
                <div class="img-wrapper">
                    <img src="{{post.custom_main_image}}">
                </div>
            </a>

            {% endif %}

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>


            <span class="post-meta">{{ post.date | date: date_format }}</span>

            {{ post.custom_excerpt }}

            <a class="post-continue-reading" href="{{ post.url | relative_url }}">Continuar lendo ...</a>

            <hr/>
        </li>
        {% endfor %}
    </ul>
</div>
