---
---

$color-white-background: #fcfcfc;
$color-pink: #EC1164;
$color-blue: #00B8F1;

$font-size-base: 18px;

body {
    background-color: #E6E7E8;
    font-family: 'Ubuntu', sans-serif;
    font-size: $font-size-base;
}

.nav-header {
    background-color: $color-white-background;
    padding: 15px;
    margin-bottom: 20px;
}

.nav-header #logo {
    text-align: left;
}

.page-content {
    background-color: $color-white-background;
    padding-top: 1px;
}

.page-content .wrapper {
    max-width: -webkit-calc(1200px - (30px * 2));
    max-width: calc(1200px - (30px * 2));;
}

.post-header {
    padding-top: 0;
}

.post-header .img-wrapper {
    text-align: center;
    margin-top: -1px;
}

.post-title {
    color: $color-pink;
    font-weight: bold;
}

.post-meta {
    text-align: right;
    font-style: italic;
}

.post-list {
    padding-top: 20px
}

a.post-link {
    color: $color-pink;
    font-weight: bold;
}

.post-list .post-meta {
    display: block;
}

a.post-continue-reading {
    margin-top: 15px;
    display: block;
    border: 5px solid $color-blue;
    text-align: center;
    color: $color-blue;
    font-weight: bold;
    line-height: $font-size-base * 2;
    border-radius: 999px;
}

.sidebar {
    background-color: $color-white-background;
    padding: 20px;
}
