---
---

$color-white: #fcfcfc;
$color-pink: #EC1164;
$color-blue: #00B8F1;

$font-size-base: 18px;

%round-corners {
    border-radius: 999px;
}

body {
    background-color: #E6E7E8;
    font-family: 'Ubuntu', sans-serif;
    font-size: $font-size-base;
}

.nav-header {
    background-color: $color-white;
    padding: 15px;
    margin-bottom: 20px;
}

.nav-header #logo {
    text-align: left;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0));
}

.page-content {
    background-color: $color-white;
    padding-top: 1px;
    min-height: calc(100vh - 281px);

    .wrapper {
        max-width: -webkit-calc(1200px - (30px * 2));
        max-width: calc(1200px - (30px * 2));;
    }

    @media all and (max-width: 991px) {
        padding-bottom: 0;

        .post-content {
            margin-bottom: 10px;
        }
    }
}

.post-header {
    padding-top: 0;
}

.post-list .img-wrapper,
.post-header .img-wrapper {
    text-align: center;
    margin-top: -1px;
}

.post-title {
    color: $color-pink;
    font-weight: bold;
}

.post-meta {
    text-align: right;
    font-style: italic;
}

.post-list {
    padding-top: 20px
}

a.post-link {
    color: $color-pink;
    font-weight: bold;
}

.post-list .post-meta {
    display: block;
}

a.post-continue-reading {
    @extend %round-corners;
    margin-top: 15px;
    display: block;
    border: 3px solid $color-blue;
    text-align: center;
    color: $color-blue;
    font-weight: bold;
    line-height: $font-size-base * 2;
}

.landing-page-links .btn {
    width: 100%;
}

.sidebar {
    background-color: $color-white;
    padding: 20px;
    text-align: center;

    .btn {
        display: block;
        width: 100%;
    }

    @media all and (max-width: 991px) {
        padding-top: 0;
    }
}

.btn-landing-planilha {
    background-color: $color-blue;
    border: 1px solid darken($color-blue, 20%);
}

.btn-landing-ebook {
    background-color: $color-pink;
    border: 1px solid darken($color-pink, 20%);
}

.form-cadastro {
    border: 2px solid $color-blue;
    text-align: center;
}

.form-cadastro .form-title {
    margin: 0;
    padding: 5px 0;
    background-color: $color-blue;
    color: $color-white;
    font-size: 22px;
}

.form-cadastro .form-content {
    padding: 5px 10px;
}

.form-cadastro .form-control {
    margin-bottom: 10px;
}

.form-cadastro .btn {
    @extend %round-corners;
    background-color: $color-pink;
    color: $color-white;
    font-weight: bold;
    width: 100%;
    width: -webkit-calc(100% - (30px * 2));
    width: calc(100% - (30px * 2));
    white-space: normal;
    margin: 0 auto;
}

.sidebar .form-cadastro {
    margin: 0 -10px;
}

@media all and (min-width: 991px) {
    .post .form-cadastro input {
        width: 47%;
        display: inline-block;
    }
}

.site-footer-wrapper {
    margin-top: 15px;
}

.site-footer {
    background-color: #4d4d4d;
    min-height: 150px;
    color: $color-white;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 0 0;
    border-top: 0;

    .site-logo-wrapper {
        text-align: left;
        line-height: 100px;
    }

    .rede-social-logo {
        margin: 0 10px;
        line-height: 100px;
    }

    .site-description {
        font-size: 13px;
        padding-bottom: 45px;

        > div {
            display: table;
            height: 100px;

            @media all and (max-width: 991px) {
                padding-top: 10px;
                height: auto;
            }

            > span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

}

#mxcw-root.mxcw-root {
    font-family: 'Ubuntu', sans-serif;

    .mxcw-titlebar {
        background: $color-blue;
    }

    button {
        background-color: $color-blue;
        border-color: $color-blue;
    }
}
