---
---

$color-white: #fcfcfc;
$color-pink: #EC1164;
$color-blue: #00B8F1;
$color-gray: #4E4D4F;

$vertical-padding-left-section: 20px;

body {
    background-color: #fcfcfc;
    font-family: 'Ubuntu', sans-serif;
}

.nav-header {
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    padding-left: $vertical-padding-left-section;
}

.main {
    padding-left: 30px;
    color: $color-white;
    background: $color-blue url("/assets/pages/landing-page-planilha/main.png") no-repeat bottom right 120px;

    padding-right: 600px;
    background-size: 450px;
    height: 500px;

    @media all and (max-width: 1150px) {
        padding-right: 500px;
        background-size: 350px;
        height: 400px;
    }

    @media all and (max-width: 1150px) {
        padding-right: 450px;
        background-size: 300px;
        height: 400px;
    }

    @media all and (max-width: 800px) {
        padding-right: 390px;
        background-position: bottom right 60px;
    }

    @media all and (max-width: 700px) {
        padding-right: 300px;
        background-size: 200px;
    }

    @media all and (max-width: 600px) {
        padding-right: 0;
        padding-bottom: 220px;
        height: auto;
        background-position: bottom center;
    }

    .landing-page-ebook & {
        padding-bottom: 0;
        .main-content {
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }

        @media all and (max-width: 600px) {

            padding-bottom: 220px;
            .main-content {
                text-align: left;
                transform: none;
                -webkit-transform: none;

            }
        }

    }

    h1 {
        font-weight: bold;
    }

    span {
        font-size: 20px;
    }
}

.conteudo {
    min-height: 150px;
    margin-top: 30px;

    .conteudo-item {
        min-height: 150px;
    }

    img {
        height: 128px;
        width: 128px;
        float: left;
        margin-right: 10px;
    }

    h2 {
        font-size: 18px;
        font-weight: bold;
        color: $color-blue;
        margin-top: 0;
    }

    span {
        font-size: 16px;
    }

    @media (min-width: 992px) {
        > * {
            padding-left: 0;
            padding-right: 0;
        }
        > :nth-child(2) {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

.form-section {
    background-color: $color-pink;
    color: $color-white;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;

    .alert-danger {
        background: #a94442 none;
        color: #fcfcfc;
        text-shadow: 1px 1px #000;
        border-color: darken(#a94442, 5%);
    }

    .btn {
        white-space: normal;
    }

    .btn-custom-download {
        background-color: $color-blue;
        background-image: linear-gradient(to bottom, lighten($color-blue, 5%) 0%, darken($color-blue, 5%) 100%);;
        border: 1px solid darken($color-blue, 10%);
        color: $color-white;
        font-weight: bold;
        font-size: 26px;
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    }

    .download-ready h1 {
        text-align: center;
    }

    @media (min-width: 992px) {
        .fake-background {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $color-pink;
            height: 100vh;
            width: inherit;
            z-index: -1;
        }
    }
}
