<div class="row">
    <div class="site-footer-wrapper">
        <footer class="site-footer clearfix">
            <div class="col-md-4 col-xs-5 site-logo-wrapper">
                <a href="/" class="site-logo">
                    <img src="/assets/img/logo-white.png" width="158" height="66"/>
                </a>
            </div>

            <div class="col-md-4 col-xs-7 ">
                <a href="https://www.facebook.com/organizaevento/" class="rede-social-logo" target="_blank">
                    <img src="/assets/img/facebook.png" width="60" height="60"/>
                </a>
                <a href="https://www.instagram.com/organizaevento_/" class="rede-social-logo" target="_blank">
                    <img src="/assets/img/instagram.png" width="60" height="60"/>
                </a>
                <a href="https://www.linkedin.com/in/organiza-evento-426b5014b/" class="rede-social-logo"
                   target="_blank">
                    <img src="/assets/img/linkedin.png" width="60" height="60"/>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 site-description">
                <div>
                <span>
                    {{ site.description | escape }}
                </span>
                </div>
            </div>
        </footer>
    </div>
</div>
