<form class="form-cadastro" action="https://organizaeventosapi.azurewebsites.net/api/leads" method="post">
    <h3 class="form-title">FIQUE LIGADO!</h3>
    <div class="form-content">
        <p>Quer aprender tudo sobre eventos? Receba os principais conteúdos, dicas e novidades sobre eventos no seu
            e-mail.</p>
        <input type="text" class="form-control" name="nome" required placeholder="Nome e Sobrenome">
        <input type="email" class="form-control" name="email" required placeholder="E-mail">
        <button type="submit" class="btn">QUERO RECEBER CONTEÚDOS!</button>
    </div>
</form>
